.containers {
    width: 100vw !important;
    height: 85vh;
    text-align: center;
    display: block;
    padding-right: 0 !important;
    padding-left: 0 !important;
    max-width: 100vw !important;

    text-align: center;
}

.row_t{
    width: 100% !important;
    height: 100% !important;
    border: 1px solid grey;
    text-align: center;
    padding: 0 !important;
    margin: auto !important;
}

.col_left{ 
    padding: 0 !important;
    border: 1px solid grey;
    text-align: center;
}

.col_right{
    padding: 0 !important;
    border: 1px solid grey;
    text-align: center;
}

.container_left {
    width: 100% !important;
    height: 85vh;
    text-align: center;
    display: block;
    padding-right: 0 !important;
    padding-left: 0 !important;
    max-width: 100% !important;

    max-height: 85vh;
    overflow-y: auto;
}

.row1_l{
    width: 100% !important;
    height: 5%;
    border-bottom: 2px solid grey;
    text-align: center;
    padding: 0 !important;
    margin: auto !important;
}

.row2_l{
    color: rgb(110, 110, 110);
    width: 100% !important;
    height: 4%;
    border-bottom: 2px solid grey;
    text-align: center;
    padding: 0 !important;
    margin: auto !important;
}

.row_titile_l{
    background-color: rgb(242,242,242);
    width: 100% !important;
    height: 4%;
    border-bottom: 2px solid grey;
    text-align: left;
    font: 0.9em sans-serif;

    padding-left: 5px !important;
    padding-top: 4px !important;
    margin: auto !important;
}

.button{
    width: 90%;
    height: 60%;
    color: white;
    margin-top: 5%;
    font: 0.8em sans-serif;
}

.text{
    color: rgb(110, 110, 110);
    margin-top: 10%;
    margin-left: 25%;
    font: 1em sans-serif;
}

.col_r2_l{
    border-right: 2px solid grey;
    background-color:  rgb(44, 92, 150);
    color:#fff;
}


.dispadding{
    padding: 0 !important;
}

.row_ProductType_total{
    color: rgb(110, 110, 110);
    width: 100% !important;
    height: 33%;
    border-bottom: 2px solid grey;
    text-align: left;
    padding-left: 5px !important;
    padding-top: 5px !important;
    margin: auto !important;
    font: 0.8em sans-serif;
}

.styles.container_ProductType{
    width: 100% !important;
    height: 100%;
    text-align: left;
    display: block;
    padding: 0 !important;
}

.row_ProductType{
    height: 8%;
    padding: 0 !important;
    margin-top: 0.5%;
}

.label{
    padding-left: 2px;
}

.label_model_year{
    margin-top: 5px;
    padding-left: 2px;
    padding-right: 5px;
}

.input_model_year{
    margin-top: 2px;
    width: 30%;
}