.background{
    background-image: linear-gradient(rgb(125,175,228), white);
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.logo{
    width: 25%;
    height: 18%;

    display: block;
    position: absolute;
    margin-top: 15%;  
    margin-left: 39%;
    /* margin-right: 20%; */
    /* padding-right: 20rem; */

}

.title{
    display: block;
    position: absolute;
    margin-top: 25%; 
    margin-left: 32%;
    text-align: center;
    color: rgb(112,112,112);
}

.form{
    width: 50%;
    height: auto;
    text-align: center;
    display: block;
    margin-top: 32%; 
    margin-left: 26.5%;
}

.input_username{
    font-size: 16px;
    width: 35%;
    height: 4%;

    border: 2px solid gray;
    border-radius: 5px;
    display: block;
    position: absolute;
    margin-left: 7.5%;
    background-image: url('https://img.icons8.com/material/24/000000/person-male.png');
    background-repeat: no-repeat;
    background-position: 99%;
}

.input_password{
    font-size: 16px;
    width: 35%;
    height: 4%;

    border: 2px solid gray;
    border-radius: 5px;
    display: block;
    position: absolute;
    margin-top: 2%; 
    margin-left: 7.5%;
    background-image: url('https://img.icons8.com/ios-glyphs/22/000000/lock.png');
    background-repeat: no-repeat;
    background-position: 99%;
}

.input_image{
    font-size: 16px;
    width: 35%;
    height: 4%;

    border: 2px solid gray;
    border-radius: 5px;
    display: block;
    position: absolute;
    margin-top: 4%; 
    margin-left: 7.5%;
    background-image: url('https://img.icons8.com/ios-glyphs/22/000000/edit-image.png');
    background-repeat: no-repeat;
    background-position: 99%;
}


.input_submit{
    font-size: 16px;
    width: 9%;
    height: 4%;

    border: 2px solid gray;
    border-radius: 5px;
    display: block;
    position: absolute;
    margin-top: 7%; 
    margin-left: 33%;

    background: rgb(102,128,155);
}

.flat{
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(78,78,78);
    display: block;
    position: absolute;
    margin-top: 3%; 
    margin-left: 90%;

    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
}